.card-dashed-container {
    position: relative;
    width: 100%;
    padding: 1rem;
}

.card-dashed-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.card-dashed-content {
    position: relative;
    z-index: 1;
}